/* ----------------- */
/* Greneral reset */
/* ----------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
button {
  border: none;
}
button:focus {
  outline: none;
}
image,
picture {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
/* Remove animation for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: .01ms !important;
    animation-iteration-count: 1 !important;
    transition: .01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ----------------- */
/* Utility classes */
/* ----------------- */
.flex {
  display: flex;
  gap: var(--gap, 1em);
}
.grid {
  display: grid;
  gap: var(--gap, 1em);
}
.container {
  margin-inline: auto;
  padding-inline: 2em;
  max-width: 80rem;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.call-to-action {
  background-color: pink;
  padding: 2rem;
  --gap: 5rem;
  border-radius: 1rem;
}
.box {
  background-color: lightblue;
  padding: 3em;
}
